<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="loadAllHad($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Tirer vers le bas pour rafraichir"
            refreshingSpinner="circles"
            refreshingText="Rafraîchissement...">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-list>
      <ion-item *ngFor="let had of allHad"  [routerLink]="'/had/'+[had._id]">
        <ion-label>
          <h2>{{had.title}}</h2>
          <h3><span *ngFor="let cat of had.category">{{cat.name}}</span></h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

