.title-lang {
  color: var(--ion-color-primary);
  text-transform: capitalize;
  font-weight: 700;
}

ion-card-content {
  font-size: 20px;
  white-space: pre-wrap;
}
ion-card-content p {
  font-size: 18px;
  white-space: pre-wrap;
}

ion-label {
  color: var(--ion-color-primary);
}

ion-chip {
  border:1px solid var(--ion-color-primary);
}

ion-card {
  margin-bottom: 6em;
}

ion-button.active
{
  border-bottom: 3px white solid;
}

ion-content ion-toolbar {
  --background: var(--ion-color-primary);
  .toolbar-container {
    padding: 0;
  }
}
ion-content ion-toolbar ion-button {
  color: white;
  width: 50%;
  margin: 0;
}

.had-inf {
  float: right;
  margin-bottom: 10px;
  margin-top: 1em;
  font-size: 14px;
}

ion-spinner {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 44vh;
  left: 41%;
  width: 15%;
  height: 15%;
  color: var(--ion-color-primary);
}