/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
  white-space: normal !important;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./assets/brandon-grotesque-medium.otf");
}


ion-title, ion-menu ion-label {
  font-family: "Brandon Grotesque" !important;
  font-size: 20px !important;
  font-weight: 600;
}

.fab-vertical-bottom {
  bottom: 20px;
}


ion-spinner {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 44vh;
  left: 41%;
  width: 15%;
  height: 15%;
  color: var(--ion-color-primary);
}