<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Accueil</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar debounce="1000" placeholder="Rechercher" [(ngModel)]="inputValue"
                       (ngModelChange)="onSearchInputChange($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div>
        <ion-list *ngIf="allHad$ | async as allHad; else loading">
            <ion-item *ngFor="let had of allHad"  [routerLink]="'/had/'+[had._id]">
                <ion-label>
                    <h2>{{had.title}}</h2>
                    <h3>
                        <span class="category-had" *ngFor="let cat of had.category; let i = index">{{cat.name}}<span *ngIf="i < had.category.length - 1">, </span>
                    </span>
                    </h3>
                </ion-label>
            </ion-item>
        </ion-list>
        <ng-template *ngIf="!allHad$">
            Aucun résultat
        </ng-template>

        <ng-template #loading>
            chargement...
        </ng-template>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="On cherche ...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
