ion-menu-button {
  color: var(--ion-color-primary);
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}

ion-refresher-content {
  color: #5da316 !important;
}

.refresher-ios .refresher-pulling-text {
  color: #5da316 !important;
}

.refresher-refreshing-icon {
  color: #5da316 !important;
}


.refresher-refreshing-icon ion-spinner {
  color: #5da316 !important;
}


.category-had {
  color: #5da316 !important;
}


ion-toolbar .sc-ion-searchbar-md-h {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  -webkit-padding-end: 0px;
  padding-inline-end: 0px;
  margin-bottom: -12px;
}